		div.tabla {
			display: table;
			border: 1px solid blue;
			width: 800px;
			border-radius: 15px 15px 15px 15px;
		}

		div.fila {
			display: table-row;
			height: 50px;
		}

		div.celda {
			display: table-cell;
			border: 1px solid blue;
			text-align: center;
			vertical-align: middle;	
		}

		div.fila:first-child div.celda:first-child {
			border-radius: 10px 0 0 0;
		}

		div.fila:first-child div.celda:last-child {
			border-radius: 0 10px 0 0;
		}

		div.fila:last-child div.celda:last-child {
			border-radius: 0 0 10px 0;
		}

		div.fila:last-child div.celda:first-child {
			border-radius: 0 0 0 10px;
		}